# IDE
.idea/
.vscode/
.vs/

# macOS
.DS_Store

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Build tools
.gradle/

# 通用
*.log
*.tmp
cmake-build-*
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/
